<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sabir.itexpert">
    <application android:label="IT Expert App" android:theme="@style/Theme.Material3.DayNight">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
